<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calcular</button>
    </form>
    {% if form.cleaned_data.resultado %}
    <p>Resultado: {{ form.cleaned_data.resultado }}</p>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();  // Evita el envío del formulario
                const numero1 = parseFloat(document.getElementById('id_numero1').value);
                const numero2 = parseFloat(document.getElementById('id_numero2').value);

                if (!isNaN(numero1) && !isNaN(numero2)) {
                    const resultado = numero1 + numero2;
                    document.getElementById('id_resultado').value = resultado;
                }
            });
        });
    </script>
</body>
</html>
